@media screen and (min-width: 1150px) {
    :root {
        --fs-xxxl: 3.5rem;
        --fs-xxl: 2.25rem;
        --fs-xl: 1.5rem;
        --fs-lg: 1.25rem;
        --fs-md: 1rem;
        --fs-sm: 0.875rem;
        --fs-xs: 0.813rem;
    }
}

@media screen and (max-width: 768px) {
    .search {
        &__form {
            grid-template-columns: 2fr 130px 35px;
        }

        &__close {
            top: var(--space-2);
        }
    }
}

@media screen and (max-width: 350px) {
    .container {
        margin-inline: 1rem;
    }

    .search {
        &__form {
            grid-template-columns: 2fr 75px 35px;
        }
    }
}

@media screen and (max-width: 1150px) {
    .search {
        &__close {
            font-size: var(--fs-xxxl);
        }
    }
}

@media screen and (min-width: 1150px) {
    .section {
        padding-block: var(--space-8) var(--space-4);
    }

    .container {
        margin-inline: auto;
    }

    .nav {
        bottom: var(--space-5);

        &__link {
            font-size: var(--fs-xl);
            font-weight: var(--fw-semibold);
        }
    }

    #nav-search {
        font-size: var(--fs-xxl);
    }

    .menu__nav {
        bottom: calc(var(--header-height) + var(--space-6));
    }
}