::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: hsl(353, 49%, 90%);

    &-thumb {
        background-color: var(--primary-color);
        border-radius: 4px;

        &:hover {
            background-color: hsl(353, 49%, 45%);
        }
    }
}